@inherits EmployeeItemBase

<div class="card m-3">
    <div class="card-header">
        <input type="checkbox" @onchange="CheckBoxChanged" />
        <h3>@Employee.FirstName @Employee.LastName</h3>
        <img class="card-img-top" src="@Employee.PhotoPath">
        <div class="card-footer text-center">
            <a href="@($"/employeedetails/{Employee.EmployeeId}")" class="btn btn-primary m-1">View</a>
            <a href="@($"/editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
            <a href="#" @onclick="() => DeleteEmployee(Employee.EmployeeId)" @onclick:preventDefault class="btn btn-primary m-1">Delete</a>
        </div>
    </div>
</div>